<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sjtu.rfid.rfidsys">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReceivingSheetsActivity" />
        <activity
            android:name=".ReceivingScanBoxActivity"
            android:windowSoftInputMode="adjustPan|stateUnchanged" />
        <activity android:name=".MoveActivity" />
        <activity android:name=".CheckByPosActivity" />
        <activity android:name=".DeliverySheetsActivity" />
        <activity
            android:name=".DeliveryScanBoxActivity"
            android:windowSoftInputMode="adjustPan|stateUnchanged" />
        <activity android:name=".PutInStorageActivity" />
        <activity android:name=".CheckByMatActivity" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".MoveOrderListActivity" />
        <activity android:name=".ConfigActivity" />
        <activity android:name=".CheckSheetActivity" />
        <activity android:name=".LookUpActivity"></activity>
    </application>

</manifest>
