<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/mobile</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="db.SaleBomDetailEntity"/>
        <mapping class="db.AllocationEntity"/>
        <mapping class="db.AsnEntity"/>
        <mapping class="db.BomEntity"/>
        <mapping class="db.CheckEntity"/>
        <mapping class="db.DetailEntity"/>
        <mapping class="db.ItemEntity"/>
        <mapping class="db.LogEntity"/>
        <mapping class="db.PackingEntity"/>
        <mapping class="db.PackingBomEntity"/>
        <mapping class="db.PosEntity"/>
        <mapping class="db.RasnEntity"/>
        <mapping class="db.RdetailEntity"/>
        <mapping class="db.RposEntity"/>
        <mapping class="db.SaleBomEntity"/>
        <mapping class="db.TransportEntity"/>
        <mapping class="db.WmsDetailEntity"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>