<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/mobile</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="db.SaleBomDetailEntity"/>
        <mapping class="db.AllocationEntity"/>
        <mapping class="db.AsnEntity"/>
        <mapping class="db.BomEntity"/>
        <mapping class="db.CheckEntity"/>
        <mapping class="db.ItemEntity"/>
        <mapping class="db.LogEntity"/>
        <mapping class="db.PackingEntity"/>
        <mapping class="db.PackingBomEntity"/>
        <mapping class="db.PosEntity"/>
        <mapping class="db.RasnEntity"/>
        <mapping class="db.RdetailEntity"/>
        <mapping class="db.RposEntity"/>
        <mapping class="db.SaleBomEntity"/>
        <mapping class="db.TransportEntity"/>
        <mapping resource="db/SaleBomDetailEntity.hbm.xml"/>
        <mapping resource="db/AsnEntity.hbm.xml"/>
        <mapping resource="db/BomEntity.hbm.xml"/>
        <mapping resource="db/CheckEntity.hbm.xml"/>
        <mapping resource="db/ItemEntity.hbm.xml"/>
        <mapping resource="db/LogEntity.hbm.xml"/>
        <mapping resource="db/PackingEntity.hbm.xml"/>
        <mapping resource="db/PackingBomEntity.hbm.xml"/>
        <mapping resource="db/PosEntity.hbm.xml"/>
        <mapping resource="db/RasnEntity.hbm.xml"/>
        <mapping resource="db/RdetailEntity.hbm.xml"/>
        <mapping resource="db/RposEntity.hbm.xml"/>
        <mapping resource="db/SaleBomEntity.hbm.xml"/>
        <mapping resource="db/TransportEntity.hbm.xml"/>
        <mapping class="db.RasndetailEntity"/>
        <mapping resource="db/RasndetailEntity.hbm.xml"/>
        <mapping resource="db/AllocationEntity.hbm.xml"/>
        <mapping class="db.DetailEntity"/>
        <mapping resource="db/DetailEntity.hbm.xml"/>
        <mapping class="db.WmsDetailEntity"/>
        <mapping resource="db/WmsDetailEntity.hbm.xml"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>